<section>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Last donations</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount&euro;</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="donation in donations">
                        <td>{{donation.braintree_response.custom_fields.poi_name}}</td>
                        <td>{{donation.braintree_response.amount}}</td>
                        <td>{{donation.braintree_response.status}}</td>
                        <td>{{donation.braintree_response.created_at | date:'short'}}</td>
                        <td>{{donation.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--
                    <button class="btn btn-success btn-sm" data-ng-click="toggleForm()">
                       {{isFormShown?'Hide':'Show'}} NEW</button>
                    -->
                    Point of interests
                </div>
                <ul class="list-group" data-ng-repeat="item in poisList">
                    <li class="list-group-item">{{item.value}}&euro;</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <form>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" id="name" placeholder="Name"
                                data-ng-model="poisItem.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" style="resize: none;" placeholder="Description"
                                data-ng-model="poisItem.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="imageUrl">Image url</label>
                            <input class="form-control" id="imageUrl" placeholder="Image url"
                                data-ng-model="poisItem.imageUrl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input class="form-control" id="latitude" placeholder="Latitude"
                                data-ng-model="poisItem.latitude">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input class="form-control" id="longitude" placeholder="Longitude"
                                data-ng-model="poisItem.longitude">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="target">Target in &euro;</label>
                            <input class="form-control" id="target" placeholder="0.00"
                                data-ng-model="poisItem.target">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" data-ng-click="submitForm()">NEW</button>
            </form>
        </div>
    </div>
</section>
