<section data-ng-controller="HomeController">

    <div class="row">
        <div class="col-sm-8">
            <ui-gmap-google-map center='map.center' control='control' zoom='map.zoom'></ui-gmap-google-map>
        </div>
        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading">Last donations</div>
                <ul class="list-group">
                    <li class="list-group-item">TODO ngRepeat</li>
                    <li class="list-group-item">TODO ngRepeat</li>
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Point of interest selected</div>
                <div class="panel-body">
                    <p>TODO info selected</p>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">Donation</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="amountId">Amount</label>
                            <input name="amount" type="text" class="form-control" id="amountId" placeholder="Amount">
                        </div>
                        <button type="submit" class="btn btn-default">GO</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>
