<section data-ng-controller="HomeController">

    <div class="row">
        <div class="col-sm-8">

            <ui-gmap-google-map center="map.center" control="control" zoom="map.zoom">
                <ui-gmap-markers models="map.markers" coords="'self'" click="clickMarker"></ui-gmap-markers>
            </ui-gmap-google-map>

        </div>
        <div class="col-sm-4">

            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

            <div class="panel panel-primary" data-ng-if="donation.id">
                <div class="panel-heading">Point of interest: {{donation.name}}</div>
                <div class="panel-body">
                    <p>Total already donated: {{donation.total}}&euro;</p>
                    <div class="row">
                        <div class="col-sm-8">
                            {{donation.description}}
                        </div>
                        <div class="col-sm-4" data-ng-if="donation.imageUrl">
                            <img ng-src="{{donation.imageUrl}}" alt="image" class="img-thumbnail">
                        </div>
                    </div>
                    <form>
                        <div class="radio">
                            <label>
                                <input type="radio" data-ng-model="donation.amount" value="1">1&euro;
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" data-ng-model="donation.amount" value="5">5&euro;
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" data-ng-model="donation.amount" value="10">10&euro;
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="donation.email">
                            <p class="help-block">Want to win a ticket for an exclusive event around the monument? Type in your email</p>
                        </div>
                        <div id="dropin-container"></div>
                        <button type="submit" class="btn btn-default" data-ng-if="donation.showBtn">Donate</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>
